
  <div class="row pt-5">
      <div class="col-lg-12 col-xl-5" data-aos="fade-right"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
      data-aos-duration="1000">
        <div class="p-5 text-center">
            <h1 class="pb-3 fw-bolder" style="color: indigo">NEO Finance Manager</h1>
          <p class="h5 lh-lg pb-4 text-secondary"> La aplicaicón que te ayuda a manejar tus ingresos y gastos de manera mas eficiente! </p>
          <div class="d-grid gap-2 col-6 mx-auto">
          <div class="btn btn-success btn-lg rounded-pill fw-bolder" data-aos="fade-up" data-aos-anchor-placement="center-bottom"  data-aos-duration="2500" routerLink="/ingresos" style="background: indigo; border: 0px ;">
            Comenzar
          </div>
        </div>
      </div>
      </div>
      <div class="col-lg-12 col-xl-7" data-aos="fade-left"
       data-aos-duration="1000">
        <img src="assets/svg/home-1.svg" class="img-fluid" alt="">
    </div>  
  </div>

